body {
  // --divider-color: red;
  --divider-color: var(--background-modifier-hover);
  // --divider-color: transparent;
  // --divider-color: #ddd;
}

// 左右拖拽线距离顶部高度，tab分隔线
body:not(.hider-tabs) .mod-left-split > .workspace-leaf-resize-handle,
body:not(.hider-tabs) .mod-right-split > .workspace-leaf-resize-handle {
  top: calc(var(--header-height) - 1px) !important;
  height: calc(var(--divider-vertical-height) - var(--header-height) + 1px) !important;
}

// inline tab
.view-header {
  -webkit-app-region: drag;
  margin: 0;
  padding: 0 var(--size-4-3);
  flex-shrink: 0;

  // 排序

  // 切换左侧 sidebar 图标
  .cmdr-page-header[aria-label="Toggle left sidebar"] {
    order: -10;
  }

  // 切换右侧 sidebar 图标
  .cmdr-page-header[aria-label="Toggle right sidebar"] {
    order: -8;
    svg {
      transform: rotate(180deg);
    }
  }

  // 切换 tab 图标
  .cmdr-page-header[aria-label="Hider: Toggle tab bar"] {
    order: -9;
    svg {
      transform: rotate(90deg);
    }
  }

  // 面包屑
  .view-header-breadcrumb-separator {
    color: hsl(214deg 14% 85%);
  }
  .view-header-breadcrumb,
  .clickable-icon {
    &:hover {
      background-color: var(--blue-accent-light) !important;
      color: var(--blue-accent);
    }
  }
}
// 隐藏 tab 后的 inline tab
body.hider-tabs .view-header {
  border-bottom: solid 1px var(--divider-color);
}

// 隐藏 tab stack 按钮
.workspace-tab-header-tab-list {
  display: none !important;
}

// 右侧栏顶部按钮右对齐
body.hider-sidebar-buttons .mod-right-split .workspace-tabs {
  .workspace-tab-header-container {
    padding-right: 0 !important;
    justify-content: flex-end !important;
  }
  .workspace-tab-header-spacer {
    flex-grow: 0 !important;
  }
}
