.markdown-source-view.mod-cm6 .cm-line {

  &.HyperMD-task-line {
    .cm-fold-indicator .collapse-indicator {
      padding-right: 4px;
      right: 3px;
    }
  }

  // 修复 列表下 切换行的时候 折叠按钮 会抖动的问题
  .cm-fold-indicator .collapse-indicator {
    padding-right: 15px;
    right: -10px;
  }

  // 链接下划线
  .cm-hmd-internal-link {
    text-underline-offset: 4px;

    .cm-underline {
      text-underline-offset: 4px;
      // text-decoration-color: rgba(#005CC5, 0.7);
      // --link-decoration-thickness: 2px;
    }
  }

}