body {
  --tab-radius-active: var(--custom-radius);
  // --tab-radius-active: 0;
  --tab-curve: 2px;
}

.workspace-split.mod-vertical.mod-root {

  .workspace-tab-header-container-inner {
    margin: 1px 0 0 0;
    padding: 4px !important;

    .workspace-tab-header {
      padding: 0 4px 0 0 !important;
      box-shadow: none;
      background-color: transparent;

      &:hover {
        .workspace-tab-header-inner {
          // box-shadow: inset 0 0 0 var(--tab-outline-width) var(--tab-outline-color);
          // background-color: transparent;
          // background-color: var(--tab-container-background);
          background-color: var(--tab-outline-color);
        }
      }

      &::before,
      &::after {
        display: none;
      }

      .workspace-tab-header-inner {
        padding: 0 4px 0 10px;

        &::after {
          display: none;
          // right: -2px;
          // height: auto;
          // top: 5px;
          // bottom: 5px;
        }
      }

      &.is-active {
        // --tab-background-active: transparent;
        // box-shadow: 0 0px 2px rgba($color: #000000, $alpha: 0.3);
        // padding: 0 !important;

        .workspace-tab-header-inner {
          box-shadow: inset 0 0 0 var(--tab-outline-width) var(--tab-outline-color);
          color: var(--text-muted);
          background-color: #fff;

          .workspace-tab-header-inner-title {
            color: var(--text-normal);
          }
        }
      }
    }

  }

}