.menu {
  padding: 5px;
  border: 0.5px solid rgba(0,0,0,0.2);
  border-radius: 7px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06),
    0px 3px 6px rgba(0, 0, 0, 0.08),
    0px 5px 25px rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(12px);

  .menu-separator {
    margin: 5px 8px;
  }

  .menu-item {
    padding: 0 11px 0 9px;
    line-height: 22px;
    line-height: 24px;
    border-radius: 4px;
    // font-size: 12px;

    &.selected:not(.is-disabled):not(.is-label) {
      background-color: var(--interactive-accent);
      color: var(--text-on-accent);
  
      .menu-item-icon {
        color: var(--text-on-accent);

        .svg-icon {
          --icon-size: 14px;
          --icon-stroke: var(--icon-s-stroke-width);
        }
      }
    }

    .menu-item-icon {

      .svg-icon {
        --icon-size: 14px;
        // --icon-stroke: 1.6;
        --icon-stroke: 2;
      }
    }
  }
}
